.welcome-msg-div-comp {
  width: 100%;
  position: fixed;
  bottom: 105px;
  left: 940px;
  z-index: 10001;
  cursor: pointer;
}

.welcome-comp {
  width: 245px;
  height: 116px;
  margin-left: 320px;
  border-radius: 4px;
  margin-top: 100px;
  padding: 10px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.welcome-img-comp {
  width: 48px;
  height: 48px;
  position: absolute;
  top: -25px;
  left: 95px;
}

.welcome-comp p {
  width: 240px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #425b76;
  margin-top: 20px;
}

.welcome-cross-img-comp {
  position: absolute;
  top: 10px;
  left: 220px;
}

@media (max-width: 768px) {
  .welcome-msg-div-comp {
    left: -250px;
  }

  .welcome-comp p {
    color: red;
  }
}
