.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav img {
  position: relative;
  left: 70px;
  width: 170px;
  top: -7px;
  cursor: pointer;
}

.both-btns {
  display: flex;
  position: relative;
  right: 70px;
  gap: 10px;
}

.both-btns button {
  width: 84px;
  height: 38px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  font-family: "Barlow", sans-serif;
  cursor: pointer;
}

.btn-color1 {
  background-color: white;
}

.btn-color2 {
  background-color: #244779;
  color: white;
}
